@font-face {
    font-family: "brødtekst";
    src: url(../../assets/onest-static/Onest-SemiBold.ttf);
}

@font-face {
    font-family: "logo-modak";
    src: url(../../assets/Modak-Regular.ttf);
}

@font-face {
    font-family: "overskrift";
    src: url(../../assets/onest-static/Onest-ExtraBold.ttf);
}

.logo{
    font-family: "logo-modak";
}

h1{
    font-family: "overskrift";
}

h2{
    font-family: "overskrift";
}

h3, p{
    font-family: "brødtekst";
}
