@font-face {
    font-family: "brødtekst";
    src: url(../../assets/onest-static/Onest-SemiBold.ttf);
}

@font-face {
    font-family: "logo-modak";
    src: url(../../assets/Modak-Regular.ttf);
}

@font-face {
    font-family: "overskrift";
    src: url(../../assets/onest-static/Onest-ExtraBold.ttf);
}

.logo{
    font-family: "logo-modak";
}

h1{
    font-family: "overskrift";
}

h2{
    font-family: "overskrift";
}

h3, p{
    font-family: "brødtekst";
}

img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.btn2{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px gray;
    
}

.kontakt_knap{

}