
@font-face {
    font-family: "brødtekst";
    src: url(../../assets/onest-static/Onest-SemiBold.ttf);
}

@font-face {
    font-family: "tekst";
    src: url(../../assets/onest-static/Onest-Medium.ttf);
}

@font-face {
    font-family: "billedetext";
    src: url(../../assets/onest-static/Onest-Regular.ttf);
}

@font-face {
    font-family: "skrå";
    src: url(../../assets/onest-static/Onest-Thin.ttf);
}

@font-face {
    font-family: "overskrift";
    src: url(../../assets/onest-static/Onest-ExtraBold.ttf);
}


.menu a {
    font-family: "tekst";
    font-size: xx-large;
    font-style: italic;
}

h1{
    font-family: "overskrift";
    font-size: 40px;

}

h2{
    font-family: "overskrift";
    font-size: 20px;
}

.h1-stor{
    font-family: "overskrift";
    font-size: 40px;
    text-align: right;
}


h3 {
    font-family: "billedetekst";
    font-size: medium;
    text-align: center;
}

p {
    font-family: "brødtekst";
}

li {
    font-family: "brødtekst";
}

.slank-h2 {
    font-family: "tekst";
    font-size: xx-large;
}

.slank-h3 {
    font-family: "tekst";
}

.cogp {
    font-family: "tekst";
    font-size: larger;
    text-decoration: underline;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

.indeibillede img, .front-pic {
    width: 100%;
    height: auto;
    border-radius: 1rem; 
    padding: 5px;
    
}

.knap1 {
    display: flex;
    justify-content: right;
}


.btn2 {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1rem 1rem 1rem 5rem;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px gray;
    
}

.tilbage-knap {
    display: flex;
    justify-content: left;
}

.btn1 {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin: 1rem;

}

.videre-knap {
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
}

.læs_mere {
    font-size: small;
}

.btn3 {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    margin: 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.kontakt_knap {
    font-family: "tekst";
    display: inline-block;
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 0.3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px gray;

}

.text1 {
    text-align: center;
}

.indeibillede {
    display: grid;
    place-items: center;
    position: relative;
}

img, h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

img {
    max-width: 100%;
    place-self: stretch;
    object-fit: cover;
    border-radius: 10px;
}

.img-text{
    position: absolute;
    color: white;
    font-family: "skrå";
    text-shadow: 1px 1px 0px rgb(167, 162, 162);
       
}

.star-pics {
    padding-bottom: 1em;
}

.star {
    width: 40px;
    height: 40px;
    border-radius: 0%;

}


footer{
    border-top: 2px solid black;

    .logof {
     display: flex;
    justify-content: right;
    margin: 0%;
    padding: 3px;
    padding-right: 5px;
 }

    .footlinks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5px; 
}

    .foottext {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    padding-right: 10px;
    
}    

.link {
    color: gray;
    padding: 3px;
}

.cc {
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
}

}


.slogan {
    font-size: small;
}


* {
    box-sizing: border-box;
}


header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: #ffffff;
    border-bottom: solid black 1px;
}

.logo img, .logof {
    width: 80px;
    height: 80px;
}


nav {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 0px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
}

.menu a:hover {
    color: #a9a9a9;
}

.burger {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger .line {
    width: 100%;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.2s linear;
}

.burger {
    display: none;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
        transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
    }

    nav.active .menu {
        display: block;
        background-color: #d9d9d9ea;
        position: absolute;
        top: 94px;
        left: 0;
        width: 100%;
        height: 350px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav.active .menu li {
        margin: 10px 20px;
    }

    nav.active .menu a {
        font-size: 24px;
    }
    
}

.period {
        padding: 50px;
    }

 .filter {
        padding-left: 90px;
    } 

.scroll {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
} 


@media (width >=400px) {

}




/*
.ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
    
}    
    
 .ham-menu span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.navi {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.sort-cirkel {
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
}